.modal {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  padding: 20px;
}

.buttonName {
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 0px;
  span {
    font-size: 20px;
    font-weight: bold;
  }
}

.buttonName:hover {
  background-color: var(--color-white);
  color: var(--color-grey-light);
}

.phone {
  color: var(--color-grey);
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.filledButton {
  display: flex;
  justify-content: start;
  padding: 10px 20px;
  border-radius: 0px;

  gap: 15px;
  span {
    font-size: 25px;
  }
}

.filledButton:hover {
  background-color: rgb(226, 226, 226);
}

.quitButtonContainer {
  display: flex;
  align-items: start;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-top: 10px;
  padding-right: 10px;
}

.quitButton {
  color: rgba(28, 28, 28, 0.6);
  gap: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  span {
    font-size: 20px;
  }
}

.quitButton:hover {
  background-color: var(--color-white);
  color: var(--color-orange);
}

.h2 {
  text-align: center;
}
