.button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 8px; */
  /* padding: 8px; */
  background-color: var(--color-primary);
  color: var(--color-black);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--color-grey); /* чуть темнее при наведении */
}

.button:disabled,
.button:disabled:hover {
  background-color: var(--color-grey); /* чуть темнее при наведении */
  cursor: default;
}

.icon {
  width: 20px;
  height: 20px;
}
