.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  color: var(--textPrimary);
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: var(--buttonSmallBorderRadius);
  transition: background-color 0.3s;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
}

.withGap {
  gap: 8px;
}

.button:hover {
  background-color: rgba(var(--color-black-rgb), 0.1);
}

.orange {
  height: 48px;
  font-size: 17px;
  background-color: var(--color-orange);
  color: var(--color-white);
  width: 100%;
}

.orange:hover {
  background-color: var(--color-orange);
}

.orange:disabled {
  background-color: var(--color-orange);
  opacity: 0.4;
  cursor: not-allowed;
}

.white {
  height: auto;
  font-size: 15px;
  background-color: var(--color-white);
  color: var(--color-black);
}

.white:hover {
  background-color: var(--color-white);
}

.white:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.grey {
  height: auto;
  font-size: 15px;
  background-color: var(--interactiveSecondary);
  color: var(--color-black);
}

.grey:hover {
  background-color: var(--interactiveSecondary);
}

.grey :disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
