.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  color: var(--textPrimary);
  border: none;
  cursor: pointer;
  padding: 0px;
  border-radius: var(--buttonSmallBorderRadius);
  transition: background-color 0.3s;
  height: 40px;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: 20px;
  letter-spacing: -0.15px;
  gap: 6px;
  padding: 0px 10px;
}

.button:hover {
  background-color: rgba(var(--color-black-rgb), 0.1);
}

.orange {
  gap: 8px;
  height: 48px;
  font-size: 17px;
  background-color: var(--color-orange);
  color: var(--color-white);
}

.orange:hover {
  background-color: var(--color-orange);
}

.orange:disabled {
  background-color: var(--color-orange);
  opacity: 0.4;
  cursor: not-allowed;
}

.icon {
  height: 20px;
  width: 20px;
}
