.modalContainer {
  padding: 20px;
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.notificationOffsetPadding {
  padding: 50px 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
