/* @import "tailwindcss"; */

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-black: #1c1c1c;
  --color-grey: #c5c8d1;
  --color-orange: #883900;
  --font-size-base: 16px;
  --font-weight-normal: 400px;
  --font-weight-medium: 500px;
  --font-weight-bold: 700px;
}
/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: var(--background);
  color: var(--foreground);

  font-family: "Inter", sans-serif;
  font-size: 16px;
}
